.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
  background-color: brown;
  color: white;
  width: 40%;
  height: 40%;
}

.display button {
  width: 90px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  background-color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border: 1px solid brown;
  border-radius: 5px;
}

.display button:hover {
  background-color: black;
  color: white;
}
